<h2>List of Tasks</h2>
<p>Click a tasks to see it's details.</p>
<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, tasks_path(task) %></li>
  <% end %>
</ul>
<br>

<%# <%= link_to "Show task details", 'tasks/:id_path' %>
<%= link_to "Back to Home page", root_path %>
